.App {
  text-align: center;
}

.loginView {
  width:600px;
}

.adminView {
  width:600px;
}

.userView {
  width:600px;
}

.card1 {
  border: 0.5rem solid gainsboro;
  border-radius: 15px;
  padding: 1rem;
  margin-top: 1rem;
}